
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>makemoney-pk | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Custom/admin/css/all.min.css">
    <!-- Ionicons -->
    @*<link href="~/Custom/Visitor/css/profile.css" rel="stylesheet" />*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Custom/admin/css/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Custom/admin/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
  <!-- Content Wrapper. Contains page content -->
@*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
   
     </section>
<br />
<br />
<br />
<br />

    <!-- Main content -->
    @*<section class="content">*@
        <div class="error-page">
            <h2 class="headline text-warning"> 404</h2>
            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not found.</h3>
                <p>
                    We could not find the page you were looking for.
                    Meanwhile, you may return to <a href="/Home/index">Dashboard</a> or try again later.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    @*</section>*@
    <!-- /.content -->
@*</div>*@
<!-- /.content-wrapper -->

   <!-- jQuery -->
<script src="~/Custom/admin/js/jquery.min.js"></script>

<!-- Bootstrap 4 -->
<script src="~/Custom/admin/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Custom/admin/js/adminlte.min.js"></script>