
@{
    ViewBag.Title = "WaysToEarn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Home/WaysToEarn">Ways to </a></li>
                            <li class="breadcrumb-item active">Earn</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <!-- COLOR PALETTE -->
                <div class="card card-default color-palette-box">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-md-12 text-center">
                                <h2>Worry about earning? Watch this video to proceed</h2>
                                <hr />
                                @*<iframe width="560" height="315" src="https://www.youtube.com/embed/9YffrCViTVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                                
                            </div>                            
                        </div>
                        <div class="row text-center center-block">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                @*<iframe width="560" height="315" src="https://youtu.be/pHKP3iNAVrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/02X1ri31eZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="col-lg-2"></div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                    @*</form>*@
                </div>
            </div>


            <!-- START ALERTS AND CALLOUTS -->
            <h5 class="mt-4 mb-2">
                <a href="/Home/Index">Back to home</a>
            </h5>
            <br />
        </section>
    </div>
</div>

