@model GTM.Models.RegistrationTbl;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecoverPwd</title>
</head>
<body>
 
</html>
