@model GTM.Models.MessageTbl

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Custom/web/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Custom/visitor/assets/libs/toastr/toastr.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Custom/visitor/assets/libs/toastr/toastr.min.css" rel="stylesheet" type="text/css" media="all">
</head>
<div class="card card-body">
    <img src="~/Custom/web/images/services.jpg" style="height:350px; width:100%" alt="Alternate Text" />

    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h1>Contact</h1>
            <p>We are here to serve!</p>
        </div>
        <div class="col-md-4"></div>

    </div>
    <hr />

    <br />

    <div class="row">

        <div class="col-md-4">
            <form method="post" id="msgForm">
                @*@using (Html.BeginForm("CreateMsg","Home",FormMethod.Post, new { id = "mcnForm" }))
        {*@
                <input class="form-control" type="text" id="fname-id" name="FullName" placeholder="Your Name" required>
                <input class="form-control email" type="email" id="email-id" name="Email" placeholder="Email" required>
                <textarea class="form-control" id="msg-id" name="Message" placeholder="Message" rows="4" required></textarea>
                <br />
                <div>
                    <input type="submit" class="btn btn-primary" value="Send Message" />
                </div>

                @*@Html.TextBoxFor(model=>model.FullName, new { @class="form-control", id="fname-id", placeholder="Name" })<br />
            @Html.TextBoxFor(model=>model.Email, new { @class="form-control", id="email-id", placeholder="Email"})<br />
            @Html.TextAreaFor(model=>model.Message, new { @class = "form-control", id = "msg-id", rows = "4", placeholder = "Message" })<br />
        <div>
            <input type="submit" class="btn btn-primary" value="Send Message" />
        </div>
        }*@
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="address">
                <h5>Address:</h5>
                <p><i class="fa fa-home fa-lg"></i> Sector-C Bahria Town LHR, PK +92 </p>
            </div>
            <div class="address address-mdl">
                <h5>Phones:</h5>
                <p><i class="fa fa-phone fa-lg"></i> +92 300 0000000</p>
            </div>
            <div class="address">
                <h5>Email:</h5>
                <p><i class="fa fa-envelope fa-lg "></i> <a href="mailto:info@example.com"> mail@example.com</a></p>
            </div>

        </div>

    </div>

</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="agileits-w3layouts-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<hr />


<!-- jQuery -->
<script src="~/Custom/visitor/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Custom/visitor/assets/libs/toastr/toastr.min.js"></script>

<script type="text/javascript">
   
    $("#msgForm").submit(function (e) {
        e.preventDefault();
        var name = $("#fname-id").val();
        var email = $("#email-id").val();
        var msg = $("#msg-id").val();
        var obj = {
            Name: name,
            Email: email,
            Message: msg
        }

        $.ajax({
            url: "/Home/CreateMsg",
            method: "post",
            data: obj
        })
            .done(function () {
                $(this).find("input").val("");
                $("#msgForm").trigger("reset");
                
                toastr.success("Message sent");

            })
            .fail(function () {

                toastr.error("Sending fail!")
            });

        return false;
    });

    //$(document).ready(function () {
    //    $('#submit_btn').click(function () {

    //        var fname = $("#fname-id").val();
    //        var email = $("#email-id").val();
    //        var msg = $("#msg-id").val();
    //        var obj = {
    //            FName: fname,
    //            Email: email,
    //            Message: msg
    //        }
    //        submitForm(obj);
    //    });
    //    //end click
    //});
    ////end rdy
    //function submitForm(obj) {

    //    $.ajax({
    //        url:"/Home/CreateMsg" ,
    //        type: "POST",
    //        data: obj,
            
    //    }).done(function () {
    //        alert("sent successfuly!");
    //    });

    //}
</script>