
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    @*<link href="~/Custom/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">*@

    @*<link href="~/Custom/web/css/font-awesome.css" rel="stylesheet">*@

    <link href="~/Custom/web/css/style.css" rel="stylesheet" type="text/css" media="all">

</head>
<div class="card card-body">
    <img src="~/Custom/web/images/services.jpg" style="height:350px; width:100%" alt="Alternate Text" />

    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h1>Contact</h1>
            <p>We are here to serve!</p>
        </div>
        <div class="col-md-4"></div>

    </div>
    <hr />

    <br />

    <div class="row">

        <div class="col-md-4">
            <form action="CreateMsg" method="post">
                <input class="form-control" type="text" name="FullName" placeholder="Name" required="">
                <input class="form-control email" type="email" name="Email" placeholder="Email" required="">
                <textarea class="form-control" name="Message" placeholder="Message" rows="4" required=""></textarea>
                <br />
                @*<input type="submit" class="btn btn-success" value="SEND">*@
                <button class="btn btn-success" id="submit_btn">Send</button>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="address">
                <h5>Address:</h5>
                <p><i class="fa fa-home"></i> Sector-C Bahria Town LHR, PK +92 </p>
            </div>
            <div class="address address-mdl">
                <h5>Phones:</h5>
                <p><i class="fa fa-phone "></i> +92 300 0000000</p>
            </div>
            <div class="address">
                <h5>Email:</h5>
                <p><i class="fa fa-envelope "></i> <a href="mailto:info@example.com">mail@example.com</a></p>
            </div>

        </div>

    </div>

</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="agileits-w3layouts-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
<hr />


<!-- jQuery -->
<script src="~/Custom/visitor/assets/libs/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit_btn').click(function () {

            // This prevents the form from submitting
            event.preventDefault();

            // Capture form input
            var $form = $(this);
            var serializedData = $form.serialize();

            // Run the ajax post
            $.ajax({
                url: "/Home/CreateMsg",
                type: "POST",
                data: serializedData
                success: function (response) {
                    // Do something
                }
            });

        });//end click
    });//end rdy
</script>