
@{
    ViewBag.Title = "packagePay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">

    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Home/withdrawRec">Buy</a></li>
                            <li class="breadcrumb-item active">Package</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <!-- COLOR PALETTE -->
                <div class="card card-default color-palette-box">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <form id="pkgBuyForm" method="post">

                                    <label>Enter Phone No:</label>
                                    <div class="form-group">
                                        <input class="form-control" type="tel" name="phoneNo" id="phoneId" pattern="[0-9]{11}" placeholder="03XX-XXXXXXX" />
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Submit" />

                                </form>
                            </div>
                            <div class="col-md-4"></div>


                        </div>
                    </div>
                    <!-- /.card-body -->
                    @*</form>*@
                </div>
            </div>


            <!-- START ALERTS AND CALLOUTS -->
            <h5 class="mt-4 mb-2">
                <a href="/Home/Index">Back to home</a>
            </h5>
            <br />
        </section>
    </div>
</div>

<!-- jQuery -->
<script src="~/Custom/visitor/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Custom/visitor/assets/libs/toastr/toastr.min.js"></script>

<script type="text/javascript">

    $("#pkgBuyForm").submit(function (e) {
        //e.preventDefault();
        var phone = $("#phoneId").val();
        var obj = {
            Phone: phone
        }

        $.ajax({
            url: "/Home/packagePay",
            method: "post",
            data: obj
        })
            .done(function () {
                $(this).find("input").val("");
                $("#pkgBuyForm").trigger("reset");

                toastr.success("Request sent!");

            })
            .fail(function () {

                toastr.error("Sending fail!")
            });

        return false;
    });

</script>