
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="card card-body">
    @*<p>This is a large modal.</p>*@
    <h1>Overview:</h1>
    <h2 style="font-size: smaller; text-align:justify"><b>Samzer-PK</b> is Pakistan's one of the best site to rise your investments up within a few moments, before proceeding next it is better to take a short look at our company's terms and conditions that 'll help you to use this portal in a very quick and compact manner.</h2>
    <h2>Instructions:</h2>
    <ol>
        
            <li style="font-size: smaller; text-align: justify">Provide a valid gmail account here. It 'll be more reliable to communicate and recover your password.</li>
            <li style="font-size: smaller; text-align: justify">At the time of buying a package or withdrawing your revenue, it is necessary to provide a same mobile/whatsapp number having either JazzCash or EasyPaisa.If you want any other means of transactions then contact with the admin personally.</li>
            <li style="font-size: smaller; text-align: justify">If you face any difficulty in buying a package, making account or any other trouble then our team is available 24/7 to help you. Simply send us a <a href="/Home/CreateMsg">message</a> or contact us on our <a href="/Home/CreateMsg">whatsapp</a> number. Hopefully our team 'll fix your problems and bring's you to the next level of earning.</li>
            <li style="font-size: smaller; text-align: justify">You can buy only one package at a time & you can buy other packag when first package date expires or register with another account to buy.</li>
            <li style="font-size: smaller; text-align: justify">If you make any violation on our terms & conditions then your package/account may blocked or removed permanently. </li>     
    </ol>
    <h2 style="font-size: smaller; text-align: justify"><b>Note:</b>&nbsp; You can register a membership with a single gmail account only once.If any duplicate record found then no package 'll allowed & duplicate record 'll be removed. </h2>

</div>

