
@{
    ViewBag.Title = "withdrawRec";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Custom/web/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Custom/visitor/assets/libs/toastr/toastr.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/Custom/visitor/assets/libs/toastr/toastr.min.css" rel="stylesheet" type="text/css" media="all">
</head>

<div class="wrapper">

    <div class="content-wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Home/withdrawRec">WithDraw</a></li>
                            <li class="breadcrumb-item active">Cash</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>


        <section class="content">
            <div class="container-fluid">
                <!-- COLOR PALETTE -->
                <div class="card card-default color-palette-box">

                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center">
                                <form method="post" id="withdrawalForm">
                                    <label>Enter amount to withdraw:</label>

                                    <div class="form-group">
                                        @*<label>Enter amount to withdraw:</label>*@
                                        <input class="form-control" type="number" @*min="500" max="5000"*@ id="amount-id" name="Amount" step="any" required />
                                    </div>
                                    <label>Enter Phone No: (JazzCash/EasyPaisa)</label>
                                    <div class="form-group">
                                        <input class="form-control" type="tel" name="phoneNo" id="phone-id" pattern="[0-9]{11}" placeholder="03XX-XXXXXXX" required />
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Submit" />
                                </form>
                            </div>
                            <div class="col-md-4"></div>


                        </div>
                    </div>
                    <!-- /.card-body -->
                    @*</form>*@
                </div>
            </div>


            <!-- START ALERTS AND CALLOUTS -->
            <h5 class="mt-4 mb-2">
                <a href="/Home/Index">Back to home</a>
            </h5>
            <br />
        </section>
    </div>
</div>

@*<div class="container">
        <form action="/Home/withdrawRec" method="post">
            <label>Enter amount to withdraw:</label>
            <input type="number" name="Amount" step="any" />
            <br />
            <label>Enter Phone No:</label>
            <input type="tel" name="phoneNo" pattern="[0-9]{11}" placeholder="03XX-XXXXXXX" />

            <input type="submit" value="Submit" />
        </form>
    </div>*@

<!-- jQuery -->
<script src="~/Custom/visitor/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Custom/visitor/assets/libs/toastr/toastr.min.js"></script>

<script type="text/javascript">

    $("#withdrawalForm").submit(function (e) {
        e.preventDefault();
        var amount = $("#amount-id").val();
        var phone = $("#phone-id").val();
        var obj = {
            Amount: amount,
            Phone: phone
        }

        $.ajax({
            url: "/Home/withdrawRec",
            method: "post",
            data: obj
        })
            .done(function () {
                $(this).find("input").val("");
                $("#withdrawalForm").trigger("reset");

                toastr.success("Request sent!");

            })
            .fail(function () {

                toastr.error("Sending fail!")
            });

        return false;
    });
    
</script>


